<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Error | CookCards</title>
</head>
<body class="flex flex-col items-center justify-center min-h-screen bg-gray-100">

<div class="text-center space-y-6">
    <h1 class="text-5xl font-semibold font-montserrat text-slate-800" th:text="${status == 404} ? 'Page not found' : 'An error occurred'"></h1>
    <p class="text-sm font-lato text-blue-600 underline">
        <a th:href="@{/}">Return to main page</a>
    </p>
</div>

</body>
</html>
